<header class="main-div">
    <div class="header-div">
     <div class="logo-div">
       <h3>soubhagya</h3>
     </div>
     <div class="menu-div">
         <ul>
             <li><a href="#">home</a></li>
             <li><a href="#">about</a></li>
             <li><a href="#">contact</a></li>
             <li><a href="#">home</a></li>
         </ul>
     </div>
    </div>
    <div class="header-conent">
       <h3 class="text-uppercase">youtuber / influencer / web developer</h3>
         <p>soubhgaya swain</p>
       <button>soubhagya blog</button>
    </div>
</header>
