<header class="header-file">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
<a class="navbar-brand text-uppercase non" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav ml-auto portal">
  <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="#">Features</a>
  <a class="nav-item nav-link" href="#">Pricing</a>
  <a class="nav-item nav-link disabled" href="#">Disabled</a>
</div>
</div>
</nav>
</div>

<section class="second-head">
   <div class="left-side">
     <img src="./assets/car2.png">
   </div>
   <div class="right-side">
      <h3>soubhgaya swain sidebar</h3>
      <p>we privide hosting service</p>
      <button>signup</button>
   </div>
</section>
 </header>
 <div class="container">
    <h2>Basic Card</h2>
    <div class="card">
      <div class="card-body">Basic card</div>
    </div>
  </div>