<header>
    <nav class="text-uppercase">
    <div class="logo">soubhagya</div>
    <div class="menu">
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">contact</a>
        <a href="#">login</a>
        <a href="#">gallery</a>
    </div>
</nav>
    <main>
        <section>
            <h1>welcome to india</h1>
            <h4>do come and visit keral</h4>
            <p>"india once is not enough"</p>
            <a href="#" id="btn1">learn more</a>&nbsp;
            <a href="#" id="btn2">signup here</a>
        </section>
    </main>
</header>
